<div class="login-container">
  <mat-card class="card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Conecte-se</mat-card-title>
      <mat-card-subtitle>Entre na sua conta</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form class="form">
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Ex. 123456@gmail" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Senha</mat-label>
          <input matInput [type]="hide() ? 'password' : 'text'" />
          <button
            matIconButton
            matSuffix
            (click)="clickEvent($event)"
            [attr.aria-label]="'Entre com a senha'"
            [attr.aria-pressed]="hide()"
          >
            <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
        <div class="form-footer">
          <mat-checkbox class="checkbox">Lembre-me</mat-checkbox>
          <a class="link" href="" target="_self" title="">Não lembro a minha senha</a>
        </div>
        <button class="botao" mat-raised-button matButton="filled">Entrar</button>

        <div class="mx-auto">
          <p class="paragrafo">
            É a sua primeira vez?
            <a routerLink="/cadastroUsuario" class="link2" href="" target="_self"
              >Cadastra-se agora</a
            >
          </p>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
